.container {
  position: fixed;
  top: 0px;
  background-color: #232323;
  height: 60px;
  width: 100%;
  z-index: 10;
}

.nav {
  color: white;
  height: 100%;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0 36px;
  border-bottom: 1px white solid;
}

.top-left {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 40px;
}

.top-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;

  .nav-item {
    display: inline;
    text-align: center;
    padding: 0px 30px;
    cursor: pointer;
  }

  .nav-last-item {
    padding-right: 0px;
  }
}

.nav-menu {
  display: none;
  cursor: pointer;
}

.nav-menu-list {
  list-style-type: none;
  display: none;
}

.nav-menu-list-item {
  background-color: #232323;
  border-bottom: 1px white solid;
  color: white;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 20px;
  height: 60px;
  width: 100%;
  padding: 0px 36px;
  display: flex;
}

.nav-menu-list-item-text {
  padding: 0px;
  margin: auto 0px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 640px) {
  .nav-list {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu-list {
    display: block;
  }
}
