.container {
  display: flex;
  background-color: #232323;
  height: 100vh;
}

.quote {
  font-family: 'EB Garamond', serif;
  color: white;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0 5vw;

  .quotee {
    font-weight: 400;
    float: right;
  }
}

@media (max-width: 480px) {
  .quote {
    font-size: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .quote {
    font-size: 32px;
  }
}

@media (min-width: 670px) and (max-width: 768px) {
  .quote {
    font-size: 40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .quote {
    font-size: 48px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .quote {
    font-size: 56px;
  }
}

@media (min-width: 1201px) {
  .quote {
    font-size: 64px;
  }
}
